<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="{% url 'common:index' %}"><h2>home page</h2></a>
    <a href=""><h2>add product</h2></a>
    <a href=""><h2>product catalogue</h2></a>
    <a href=""><h2>my orders</h2></a>
    <a href=""><h2>update stock</h2></a>
    <a href=""><h2>change password</h2></a>
    <a href=""><h2>profile</h2></a>
</body>
</html>