<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>welcome</h2>
    <a style="color:black;" href="{% url 'common:admin_login' %}"><b>admin login</b></a><br />
    <a style="color:black;" href="{% url 'common:seller_login' %}"><b>seller login</b></a><br />
    <a style="color:black;" href="{% url 'common:customer_login' %}"><b>customer login</b></a>
</body>
</html>